* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.mainMenu a {
  margin-left: 20px;
  color: #000;
  text-transform: capitalize;
}

.loading{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productTitle{
  color: #000;
}
