* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.mainMenu a {
  margin-left: 20px;
  color: #000;
  text-transform: capitalize;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productTitle {
  color: #000;
}

.signinforminpu1 {
  height: 60px;
  background: transparent;
  border: 1px solid #f4f5f6;
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  padding: 10px 20px;
  outline: none;
  color: var(--clr-common-text);
  font-size: 16px;
}
.signinforminpu2 {
  height: 60px;
  background: transparent;
  border: 1px solid #f4f5f6;
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  padding: 10px 20px;
  outline: none;
  color: var(--clr-common-text);
  font-size: 16px;
}

.sing-button {
  height: 60px;
  background: #171717;
  text-align: center;
  line-height: 58px;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid #f4f5f6;
  width: 600px;
}
.sing-button:hover {
  background-color: #fff;
  color: #171717;
  border-color: #171717;
  transition: 0.4s;
}


.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
  width: 400px;
}

.cart-page-total {
  padding-top: 50px;
}
.cart-page-total > h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.cart-page-total > ul {
  border: 1px solid #edeef2;
}
.cart-page-total > ul > li {
  list-style: none;
  font-size: 15px;
  color: #575757;
  padding: 14px 30px;
  border-bottom: 1px solid #edeef2;
  font-weight: 400;
}
.cart-page-total ul > li > span {
  float: right;
}
.cart-page-total li:last-child {
  border-bottom: 0;
}


.border-btn {
  font-size: 16px;
  color: var(--clr-common-heading);
  border: 1px solid #212529;
  padding: 0 40px;
  height: 50px;
  border-radius: 5px;
  display: inline-block;
  line-height: 48px;
  font-weight: 600;
  text-align: center;
}
.border-btn:hover {
  color: #fff;
  background: #212529;
}


.cart-page-total > ul > li {
  list-style: none;
  font-size: 15px;
  color: #575757;
  padding: 14px 30px;
  border-bottom: 1px solid #edeef2;
  font-weight: 400;
}

.badge {
  height: 20px;
  border-radius: 25px;
}

.label-warning,
.badge-warning{
  background-color: red;
}

.label-warning, .badge-warning {
  background-color: red;
  margin-left: -30px;
  margin-top: 0px;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  border-top: 0em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.wishbtn{
  background-color: transparent;
  border-color: transparent;
  margin-left: 120px;
  font-size: 20px;

}
.wishbtn1{
  background-color: transparent;
  border-color: transparent;
  margin-left: 110px;
  font-size: 20px;
}

.wishbtnpd{
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    border-radius: 5px;
    margin-top: 10px;
    height: 40px;
}